/* Obs: */
/* En proyectos más grandes mejor separar en modules o algún otro método */
/* En este caso por comodidad y como sin pocos, puse todos los estilos en este archivo */

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: whitesmoke;
  background: black;
  font-family: Space Grotesk, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-variant: small-caps;
}

.lottie-shadow {
  filter: drop-shadow(0 0 45px white);
}

footer {
  display: grid;
  place-items: center;
  background: black;
  color: whitesmoke;
  text-align: center;
  gap: 0.25rem;
  padding-bottom: 1rem;
}

footer a {
  color: whitesmoke;
  text-decoration: underline;
}

@media (max-width: 352px) {
  footer a {
    display: block;
  }
}

.play_again_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background: black;
  border: 2px solid white;
  transition: all ease 0.3s;
}
.play_again_btn:hover {
  font-size: 2rem;
  box-shadow: 6px 10px 10px black;
}
